<div class='about'>
    <h3>Про компанію</h3>
	<p class="info">&nbsp;&nbsp;ТзОВ &laquo;ІР-ТЕХ&raquo; - Львівська спеціалізована електромонтажна організація, що успішно займається різними проектами в галузі електропостачання промислових підприємств, організацій, житлових комплексів, будинків вже більше 8 років.  Інженери нашої компанії маючи багаторічний досвід роботи розробляють та реалізують різноманітні проекти в найкоротші  терміни, якісно, та "під ключ". Проводим консультації щодо надійності електропостачання мереж замовників та оптимізації по споживанню і втратах електроенергії. </p>
    <h3>Реєстраційні документи</h3>
    <div class="info">
		<div class='licensesShowBtn' ng-click='licensesShow=!licensesShow'>&darr; Переглянути &darr;</div>
        <div class="licenses" ng-if='licensesShow'>
            <img src="/imgs/license/license.jpg">
            <img src="/imgs/license/register.jpg">
        </div>
    </div>
    <br>
    <br>
</div>
<footer ng-include='"footer.html"'>
</footer>